<!--让SPARK跑起来-->
<launch>
	<!-- 启动哪种摄像机 -->
	<arg name="camera_type_tel" default="astrapro" doc="camera type [astrapro, astra, d435...]"/>
	<arg name="lidar_type_tel" default="3iroboticslidar2" doc="lidar type [3iroboticslidar2, ydlidar_g2]"/>
    <arg name="enable_arm_tel" default="no"/>   
    <arg name="arm_type_tel" default="uarm" doc="arm types [uarm, sagittarius_arm]"/>

	<!--spark底盘驱动，机器人描述,底盘,相机-->
	<include file="$(find spark_bringup)/launch/driver_bringup.launch">
		<arg name="camera_type_tel"	value="$(arg camera_type_tel)"/>
		<arg name="lidar_type_tel"	value="$(arg lidar_type_tel)"/>
		<arg name="enable_arm_tel"	value="$(arg enable_arm_tel)"/>
		<arg name="arm_type_tel"	value="$(arg arm_type_tel)"/>		
	</include>
 	<!-- 启动雷达 -->
	<include file="$(find lidar_driver_transfer)/launch/$(arg lidar_type_tel).launch">
	</include>
	<!--spark键盘控制 “wsad”分别代表“前后左右”-->
	<!--node pkg="spark_teleop" type="spark_teleop_node" name="spark_teleop_node" args="0.15 0.5"/-->

	 <node 
		pkg="spark_teleop"        
		type="teleop_opencv.py"   
		name="teleop_opencv_node" 
		output="screen"           
		args="--mode video --camera 0 --fps 30 --out /tmp/Camera_video --linear 0.2 --angular 0.6" 
	/>

	<!-- 在新终端打开键盘控制 -->
	<node pkg="spark_teleop" type="keyboard_control.sh" name="kc" />

    

</launch>
